* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.header {
    background-color: white;
    color: black;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto auto; 
    align-items: center;
    justify-items: center;
}
.header button {
    background-color: rgb(95, 95, 250);
    height: 20px;
    width: 70px;
    grid-column: 2 / 3;
    margin: 5px;
}
.nav {
    background-color: rgb(95, 95, 250);
    grid-column: 1 / 2;
    display: grid;

}
.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(165, 163, 163);
}
.content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 15px;
    gap: 15px;
    
}
.content-cards .card {
    height: 150px;
    background: beige;
    border-radius: 5px;
    text-align: center;
    padding:15px;
}
.content-sidebar {
    display: grid;
    margin: 15px;
    padding:10px;

}
.announcements {
    
}
.trending div {
    text-align: center;
    background-color: beige;
    padding: 10px;
    height: 30px;
    
}
.announcements div {
    text-align: center;
    background-color: beige;
    padding: 10px;
    height: 50px;
    
    overflow: hidden;
    
    
}
.footer {
    grid-column: 1 / 3;
    background-color: teal;
    text-align: center;
}